<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    {{{ css }}}
    {{{ authentication }}}
</head>

<body>
    <div class="container">
        {{> header text='New Password'}}
        <div class="content">
            <p>
                <b>Hello {{ offcialEmail }},</b>
            </p>
            <p>
                We hope this message finds you well.
            </p>
            <p>
                <b>Your Account</b>
            </p>
            <p>
                As per your request, we have generated new credentials for your account. Please find your updated login
                details below:
            </p>
            <table>
                <tr class="thead">
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ password }}</td>
                </tr>
            </table>
            <p>
                For security reasons, we recommend changing your password immediately after your first login. You can do
                so by following these steps:
            </p>
            <div class="rules">
                <ol>
                    <li>Log in to your account using the credentials provided above.</li>
                    <li>Navigate to the "Account Settings" or "Profile" section.</li>
                    <li>Select "Change Password" and follow the instructions.</li>
                </ol>
            </div>
            <a href={{ link }} class="button">My Account</a>
            <p class="highlight-text">
                We are always here to help you make the most of your Fraxioned experience.
            </p>
        
        </div>
        {{> footer }}
    </div>
</body>

</html>